.specs__global {
	width: 55%;
}

.phone-name {
	margin-bottom: 2rem;
}

.specs__container {
	background-color: #ECF0F1;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
}

.spec__row {
	align-items: center;
	display: flex;
	margin: 1rem 0;
}

.spec__icon,
.spec__icon--secondary {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.spec__icon {
	height: 35px;
	margin-right: 2rem;
	width: 28px;
}

.spec__icon--secondary {
	width: 18px;
	height: 18px;
	margin-right: 1rem;
}

.spec__value {
	display: flex;
	align-items: baseline;
}

.min-margin {
	margin: .5rem 0;
}

.specs__principal {
	width: 50%;
}

.specs__secondary {
	width: 41%;
	font-size: .9rem;
}

.icon__display {
	background-image: url('../../../assets/img/icon_display.png');
}

.icon__capacity {
	background-image: url('../../../assets/img/icon_capacity.png');
}

.icon__ram {
	background-image: url('../../../assets/img/icon_ram.png');
}

.icon__camera {
	background-image: url('../../../assets/img/icon_camera.png');
}

.icon__touch {
	background-image: url('../../../assets/img/icon_touch.png');
}

.icon__face {
	background-image: url('../../../assets/img/icon_face.png');
}

.icon__battery {
	background-image: url('../../../assets/img/icon_battery.png');
}

.icon__os {
	background-image: url('../../../assets/img/icon_os.png');
}

.icon__dimensions {
	background-image: url('../../../assets/img/icon_dimensions.png');
	width: 24px;
}

.icon__weight {
	background-image: url('../../../assets/img/icon_weight.png');
}

.icon__color {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-right: .5rem;
}
