.card__container {
	width: 240px;
	height: fit-content;
	border-radius: 5px;
	margin: .6rem;
	transition: all 0.25s ease-in-out;
}

.card__container:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transform: scale(1.02, 1.02);
}

.card__container:hover .card__image > img {
	opacity: 1;
	transform: translateY(2rem);
}


.card__container:hover .card__title > span {
	font-weight: bold;
}

.card__image,
.card__title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__image {
	border-radius: 5px 5px 0 0;
	height: 240px;
	width: 100%;
}

.card__image > img {
	max-height: 100%;
	transform: translateY(3.2rem);
	opacity: .8;
	transition: all 0.25s ease-in-out;
}

.card__title > span {
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1rem;
	padding: 1rem 0 1.1rem 0;
	text-align: center;
	width: 100%;
	z-index: 0;
}

.card--blue {
	background-color: #52B3D9;
}

.card--red {
	background-color: #F2784B;
}

.card--yellow {
	background-color: #F5AB35;

}

.card--green {
	background-color: #66CC99;
}

.card--purple {
	background-color: #BE90D4;
}

.card--gray {
	background-color: #ABB7B7;
}
