.card__container {
	width: 240px;
	height: fit-content;
	border-radius: 5px;
	margin: .6em;
	transition: all 0.25s ease-in-out;
}

.card__container:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transform: scale(1.02, 1.02);
}

.card__container:hover .card__image > img {
	transform: translateY(2em);
}


.card__container:hover .card__title > span {
	font-weight: bold;
}

.card__image,
.card__title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__image {
	background-color: lightblue;
	border-radius: 5px 5px 0 0;
	height: 240px;
	width: 100%;
}

.card__image > img {
	max-height: 100%;
	transform: translateY(3.5em);
	transition: all 0.25s ease-in-out;
}

.card__title > span {
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	padding: 1.5em 0;
	text-align: center;
	width: 100%;
	z-index: 0;
}
